.head
{
    margin-left: 550px;
    padding: 10px;
    color:rgba(255, 255, 255, 0.712);
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url(images/bg.gif);
    padding-bottom: 200px;
}
a
{
 color:rgba(255, 255, 255, 0.712);
 text-decoration: none;
}
.desc
{
    font-size: large;
    margin-right: 110px;
    text-align: center;
    padding: 8px;
    color:rgba(255, 255, 255, 0.712);
}
.images
{
    margin-top:10px;
    display: inline-block;
    margin-left: 52px;
}
.i{
    border-radius: 5%;
}
.rotimg
{
    display: inline-block;
    border-radius: 3% ;
}
.chaimg
{
    display: inline-block;
    margin-left: 98px;
    border-radius: 3% ;
}
.pinimg
{
    display: inline-block;
    margin-left: 150px;
    border-radius: 3% ;
}
.pineapple {
    text-decoration: none;
    display: inline-block;
    margin-left: 180px;
    font-size: larger;
    text-align: center;;
    font-weight: bold;  
}
.roti
{
    text-decoration: none;
    display:inline-block;
    margin-left:150px;
    font-size: larger;
    text-align: center;;
    font-weight: bold;
}
.chai
{
    display:inline-block;
    margin-left:200px;
    font-size: larger;
    text-align: center;;
    font-weight: bold;
}
.thanks
{
    margin-top: 200px;
    font-size: medium;
    text-align: center;
    color: aliceblue;
}